@model IEnumerable<StarWars.Models.Planet> 

@{
	ViewData["Title"] = "Clima";
	Layout = "~/Views/Shared/_NavLayout.cshtml";
}
<body>
	<h1>Informacion sobre el clima </h1>
	<table class="table">
		<thead>
			<tr>
				<th>@Html.DisplayNameFor(model => model.Name)</th>
				<th>@Html.DisplayNameFor(model => model.Climate)</th>
				<th>@Html.DisplayNameFor(model => model.Gravity)</th>
			</tr>
			
		</thead>
		<tbody>
			
			@foreach (var i in Model)
			{
				<tr>
					<td>@Html.DisplayFor(model=>i.Name)</td>
					<td>@Html.DisplayFor(model=>i.Climate)</td>
					<td>@Html.DisplayFor(model=>i.Gravity)</td>
				</tr>
			}
			
		</tbody>
	</table>
</body>