@model IEnumerable<StarWars.Models.Planet>

@{
	ViewData["Title"] = "Planetas";
	Layout = "~/Views/Shared/_NavLayout.cshtml";
}
<body>
	<h3 class="text-center">Listado de todos los planetas</h3>
	<div class="table">
		@if (Model != null)
		{
			<form asp-action="CreateANewPlanet" method="post">
				<a asp-action="CreateANewPlanet" class="boton-planet">Crear nuevo planeta</a>
			</form>
			<br />
			<table class="table">
				<thead class="table-dark">
					<tr>
						<th>@Html.DisplayNameFor(model => model.Name)</th>
						<th>@Html.DisplayNameFor(model => model.Climate)</th>
						<th>@Html.DisplayNameFor(model => model.Gravity)</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tr>
					<form>
						<button asp-action="Index" class="cambio">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
								<path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5" />
							</svg>
						</button>
					</form>
					<form>
						<button asp-action="OrderNameDescending" class="cambio">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
								<path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1" />
							</svg>
						</button>

					</form>
					<br />
				</tr>
						
				
				@foreach (var i in Model)
				{

					<tr>

						<td>@Html.DisplayFor(modelItem => i.Name)</td>
						<td>@Html.DisplayFor(modelItem => i.Climate)</td>
						<td>@Html.DisplayFor(modelItem => i.Gravity)</td>

						<td>
							<form asp-action="ViewDelete" asp-route-namePlanet="@i.Name" method="post">
								<input type="submit" value="Borrar Planeta" class="boton-borrar-editar btn2" />

							</form>

						</td>
						<td>
							<form asp-action="EditView" asp-route-namePlanet="@i.Name" method="post">
								<input type="submit" value="Editar Planeta" class="boton-borrar-editar btn1 " />
							</form>
						</td>

					</tr>

				}
			</table>


		}
		else
		{
			<p>NO HAY PLANETAS DISPONIBLES.</p>
		}
	</div>
</body>
<div>
	<a asp-controller="Home" asp-action="Index">Volver al inicio</a>
</div>

