@model StarWars.Models.Starship
@{
	ViewData["Title"] = "BorrarNave";
	Layout = "~/Views/Shared/_NavLayout.cshtml";
}
<h4>Datos de la nave que vas a borrar</h4>
<body>
	<div class="table">
		<form asp-action="Delete" method="post">

			<label asp-for="Name" class="form-label">
				<strong>Nombre</strong>
				<input asp-for="Name" name="Name" value="@Model.Name" readonly class="form-control-plaintext "/>
			</label>
			<br />
			<label asp-for="Model" class="form-label">
				<strong>Modelo</strong>
				<input asp-for="Model" name="Model" value="@Model.Model" readonly class="form-control-plaintext" />
			</label>
			<br />
			<label asp-for="Longitude" class="form-label">
				<strong>Longitud</strong>
				<input asp-for="Longitude" name="Longitude" value="@Model.Longitude" readonly class="form-control-plaintext" />
			</label>
			<br />
			<label asp-for="MaxPassengers" class="form-label">
				<strong>Pasajeros</strong>
				<input asp-for="MaxPassengers" name="MaxPassengers" value="@Model.MaxPassengers" readonly class="form-control-plaintext" />
			</label>
			<br />
			<label asp-for="Armament" class="form-label">
				<strong>Armamento</strong>
				<input asp-for="Armament" name="Armament" value="@Model.Armament" readonly class="form-control-plaintext" />
			</label>
			<br />
			<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Borrar Nave </button>

			<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="staticBackdropLabel">Nave apunto de explotar</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							Pulsa aceptar para que el laser impacte sobre la nave y desaparezca
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
							<input type="submit" value="Aceptar" class="btn btn-danger" />
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="container">
		<a asp-action="Index">Volver</a>
	</div>
</body>
