@model StarWars.ViewModel.SwapiViewModel
@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>StarWars - SWAPI</title>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/StarWars.styles.css" asp-append-version="true" />
	<link href="~/lib/bootstrap/dis/css/bootstrap.css" />
	<link rel="stylesheet" href="~/css/apiPage.css" asp-append-version="true" />
	<link href="c:\users\jesús\source\repos\starwars\wwwroot\lib\bootstrap\dist\css\bootstrap.rtl.min.css" rel="stylesheet" />
	<link href="c:\users\jesús\source\repos\starwars\wwwroot\lib\bootstrap\dist\css\bootstrap.rtl.css" rel="stylesheet" />
	<link href="https://fonts.cdnfonts.com/css/star-wars" rel="stylesheet">

</head>
<body>
	<h2 class="text-character">CHARACTERS</h2>
	<br />
	<div class="container text-center" style="max-width: 540px;">
		<div class="row g-0">
			<div class="col-md-4">
				<img src=@Model.ImageUrl class="img-fluid rounded-start" alt="imagenNoEncontrada">
			</div>
			<div class="col-md-8 text-center">
				<div class="card-body ">
					<h5 class="card-title">@Model.NameCharacter</h5>
					<small class="text-secondary content-right">Gender:</small>
					<span>@Model.GenderCharacter</span>
					<small class="text-secondary content-right">Height:</small>
					<span>@Model.HeightCharacter</span>
					<br />
					<small class="text-secondary content-right">Mass:</small>
					<span>@Model.MassCharacter</span>
					<small class="text-secondary content-right">Skin Color:</small>
					<span>@Model.SkinColorCharacter</span>
					<br />
					<small class="text-secondary content-right">Hair Color:</small>
					<span>@Model.HairColorCharacter</span>
					<small class="text-secondary content-right">HomeWorld:</small>
					<span>@Model.NamePlanet</span>
				</div>
			</div>
		</div>
		<br />

		@foreach (var hw in Model.ListCharacterImageJson)
		{
			@foreach (var resultPlanet in hw.ResultadoPlanets)
			{

				@if (resultPlanet.NameJsonPlanet == Model.NamePlanet && hw.NameJson == Model.NameCharacter)
				{
					<div>
						<div class="row g-0">
							<div class="col-md-4">
								<img src=@resultPlanet.ImageUrlPlanet class="img-fluid rounded-start" alt="imagenNoEncontrada">
							</div>
							<div class="col-md-8 text-center">
								<div class="card-body ">
									<h5 class="card-title">HomeWorld</h5>
									<small class="text-secondary content-right">Name:</small>
									<span>@Model.NamePlanet</span>
									<small class="text-secondary content-right">Terrain:</small>
									<span>@Model.TerrainPlanet</span>
									<br />
									<small class="text-secondary content-right">Gravity:</small>
									<span>@Model.GravityPlanet</span>
									<small class="text-secondary content-right">Climate:</small>
									<span>@Model.ClimatePlanet</span>
									<br />
								</div>
							</div>
						</div>
					</div>
				}
			}
		}
		<h5 class="card-title">Information about Films</h5>
		<div class="film-prueba">
			@foreach (var characterImages in Model.ListCharacterImageJson)
			{
				@foreach (var resultFilms in characterImages.ResultadoFilms)
				{
					@foreach (var film in Model.ListFilms)
					{
						@if (characterImages.NameJson == Model.NameCharacter && resultFilms.NameJsonFilm == film.Title)
						{

							<div class="col">
								<div class="row g-0">
									<div class="col-md-8 text-center mx-auto">
										<div class="card-body mx-auto">
											<h6 class="card-title">@resultFilms.NameJsonFilm</h6>
											<small class="text-secondary content-right">Director:</small>
											<span>@film.Director</span>

										</div>
									</div>
									<form asp-action="GetTheFilm" asp-route-title="@film.Title" asp-route-name="@Model.NameCharacter">
										<button class="col-12" type="submit">
											<div class="col-md-6 mx-auto">
												<img src="@resultFilms.ImageUrlFilm" class="img-fluid rounded-start film-prueba" alt="imagenNoEncontrada" />
											</div>

										</button>
									</form>
								</div>
							</div>

						}
					}

				}
			}
		</div>
		<h6 class="card-title">Starships</h6>

		@foreach (var characterImages in Model.ListCharacterImageJson)
		{
			@foreach (var resultStarship in characterImages.ResultadoStarships)
			{
				@foreach (var starship in Model.ListStarship)
				{
					@if (starship.Name == resultStarship.NameJsonStarship)
					{
						<div class="container text-center mx-auto">
							<div class="row g-0">
								<div class="col-md-6 mx-auto">
									<img src=@resultStarship.ImageUrlStarship class="img-fluid rounded-start" alt="imagenNoEncontrada">
								</div>
								<div class="col-md-8 text-center mx-auto">
									<div class="card-body ">
										<small class="text-secondary content-right">Name:</small>
										<span>@starship.Name</span>
										<br />
										<small class="text-secondary content-right">Model:</small>
										<span>@starship.Model</span>
										<br />
										<small class="text-secondary content-right">Manufacturer:</small>
										<span>@starship.Manufacturer</span>
										<br />
										<small class="text-secondary content-right">Class:</small>
										<span>@starship.Starship_Class</span>
										<br />

									</div>
								</div>
							</div>
						</div>
					}
				}
			}
		}
		<h6 class="card-title">Vehicles</h6>
		@foreach (var characterImages in Model.ListCharacterImageJson)
		{
			@foreach (var resultVehicle in characterImages.ResultadoVehicles)
			{
				@foreach (var vehicle in Model.ListVehicle)
				{
					@if (vehicle.Name == resultVehicle.NameJsonVehicle && characterImages.NameJson == Model.NameCharacter)
					{
						<div class="container text-center mx-auto">
							<div class="row g-0">
								<div class="col-md-6 mx-auto">
									<img src=@resultVehicle.ImageUrlVehicle class="img-fluid rounded-start" alt="imagenNoEncontrada">
								</div>
								<div class="col-md-8 text-center mx-auto">
									<div class="card-body ">
										<small class="text-secondary content-right">Name:</small>
										<span>@vehicle.Name</span>
										<br />
										<small class="text-secondary content-right">Model:</small>
										<span>@vehicle.Model</span>
										<br />
										<small class="text-secondary content-right">Manufacturer:</small>
										<span>@vehicle.Manufacturer</span>
										<br />
										<small class="text-secondary content-right">Class:</small>
										<span>@vehicle.Vehicle_Class</span>
										<br />
									</div>
								</div>
							</div>
						</div>
					}

				}
			}
		}
	</div>
</body>
</html>