@model StarWars.ViewModel.SwapiViewModel
@{
	Layout = null;
}
<h2>Personaje Buscado </h2>
<h5>CARACTERISTICAS</h5>
<p>NOMBRE: @Model.NamePeople</p>
<p>COLOR PELO: @Model.HairColor</p>

<h5>CARACTERISTICAS DEL PLANETA</h5>
<p>NOMBRE PLANETA: @Model.NamePlanet</p>
<p>TERRENO DEL PLANETA: @Model.TerrainPlanet</p>


@* <p>Nombre: @Model.Name</p>
<p>Gender: @Model.Gender</p>
<p>Masa: @Model.Mass</p>
<p>Peso: @Model.Height</p>
<p>Color de Pelo: @Model.Hair_Color</p>
<p>Color de Piel: @Model.Skin_Color</p> *@
